/* OSWALD */

/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900');
@import './Preloader.css';
@import './linearicons.css';

.rd-nav-link {
  font: 400 14px/20px 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

html {
  font-family: 'Oswald';
  scroll-behavior: smooth;
}

textarea:focus,
input:focus {
  outline: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
