/*
*
* Preloader
*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: 0.3s all ease;
  pointer-events: none;
  backface-visibility: hidden;
}

.preloader::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.2s linear;
  transform: translateY(0);
  pointer-events: none;
  background: #fff;
}

.preloader.loaded::before,
.preloader.loaded::after {
  transition: 0.4s linear;
}

.preloader.loaded::before {
  transform: translateY(-100%);
}

.preloader.loaded .preloader-logo,
.preloader.loaded .preloader-body {
  opacity: 0;
  visibility: hidden;
  transition: 0s;
}

.preloader-logo,
.preloader-body {
  transition: 0s 0.2s;
}

.preloader-logo {
  position: relative;
  z-index: 10;
  transform: translate3d(0, -50%, 0);
  padding: 40px;
}

.preloader-body {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}
#loadingProgressG {
  width: 20vw;
  height: 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 6px;
  margin: auto;
  min-width: 100px;
}

.loadingProgressG {
  background: #62a044;
  margin-top: 0;
  margin-left: -20vw;
  animation-name: bounce_loadingProgressG;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 20vw;
  height: 5px;
  border-radius: 50%;
  transition: 0.5s;
}

@keyframes bounce_loadingProgressG {
  0% {
    margin-left: -20vw;
  }
  100% {
    margin-left: 20vw;
  }
}
