/*
*
* Timeline
*/
.timeline-classic {
  text-align: left;
}

.timeline-classic-item {
  position: relative;
  overflow: hidden;
  padding: 0 0 70px 35px;
  margin-bottom: -25px;
}

.timeline-classic-item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.timeline-classic-item-image {
  width: 100%;
}

.timeline-classic-item-title {
  font-family: 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: uppercase;
}

.thumbnail-classic-item-subtitle {
  font-size: 16px;
  line-height: 1.5;
  color: currentColor;
}

.timeline-classic-item-divider {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.timeline-classic-item-divider::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid currentColor;
  border-radius: 50%;
}

.timeline-classic-item-divider::after {
  content: '';
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 300vh;
  background: currentColor;
  min-height: 100px;
}

* + .timeline-classic-item-main {
  margin-top: 20px;
}

.context-dark .timeline-classic-item-divider::before,
.bg-gray-700 .timeline-classic-item-divider::before,
.bg-gray-800 .timeline-classic-item-divider::before,
.bg-primary .timeline-classic-item-divider::before,
.bg-primary-darker .timeline-classic-item-divider::before {
  border-color: #fff;
}

.context-dark .timeline-classic-item-divider::after,
.bg-gray-700 .timeline-classic-item-divider::after,
.bg-gray-800 .timeline-classic-item-divider::after,
.bg-primary .timeline-classic-item-divider::after,
.bg-primary-darker .timeline-classic-item-divider::after {
  background: #fff;
}

.context-dark .thumbnail-classic-item-subtitle,
.bg-gray-700 .thumbnail-classic-item-subtitle,
.bg-gray-800 .thumbnail-classic-item-subtitle,
.bg-primary .thumbnail-classic-item-subtitle,
.bg-primary-darker .thumbnail-classic-item-subtitle {
  color: #fff;
}

@media (max-width: 575.98px) {
  .timeline-classic-item {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767.98px) {
  .timeline-classic-item {
    flex-wrap: wrap;
  }

  .timeline-classic-item-main,
  .timeline-classic-item-aside {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .timeline-classic-item {
    display: flex;
    padding-left: 0;
    padding-bottom: 90px;
  }

  .timeline-classic-item-aside {
    max-width: 33.33%;
  }

  .timeline-classic-item-main {
    max-width: 60%;
  }

  .timeline-classic-item-divider {
    position: relative;
    padding: 25px 20px 0;
  }

  * + .timeline-classic-item-main {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .timeline-classic-item * + h4,
  .timeline-classic-item * + .heading-4 {
    margin-top: 20px;
  }

  .timeline-classic-item-aside {
    max-width: 37%;
  }

  .timeline-classic-item-main {
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .timeline-classic-item-aside {
    max-width: 33.33%;
  }
}

@media (min-width: 1600px) {
  .timeline-classic-item {
    padding-bottom: 125px;
  }

  .timeline-classic-item * + h4,
  .timeline-classic-item * + .heading-4 {
    margin-top: 30px;
  }
}
